# Data Understaning
There are 140,056 observations and 32 Variables for each observation.
The variables are explained below for easy understanding of the dataset

In [2]:
### import module
import pandas as pd

sub_path = r'C:\Users\Smart\Desktop\NoteBooks\HDSC_Project\data_understanding_ds\variables'
police_force =  pd.read_csv(sub_path +'\Police_Force.csv')
accident_severity =  pd.read_csv(sub_path + '\Accident_Severity.csv')
local_authority_district =  pd.read_csv(sub_path + '\Local_Authority_District.csv')
local_authority_highway = pd.read_csv(sub_path + '\Local_Authority_Highway.csv')
road_class = pd.read_csv(sub_path + '\Road_Class.csv')
road_type = pd.read_csv(sub_path + '\Road_Type.csv')
junction_detail = pd.read_csv(sub_path + '\Junction_Detail.csv')
junction_control = pd.read_csv(sub_path + '\Junction_Control.csv')
ped_cross_human = pd.read_csv(sub_path + '\Ped_Cross_Human.csv')
ped_cross_physical = pd.read_csv(sub_path + '\Ped_Cross_Physical.csv')
light_conditions = pd.read_csv(sub_path + '\Light_Conditions.csv')
polic_officer_attend = pd.read_csv(sub_path + '\Police_Officer_Attend.csv')
weather_conditions = pd.read_csv(sub_path + '\Weather_Conditions.txt')
special_conditions_at_Site = pd.read_csv(sub_path + '\Special_Conditions_at_Site.txt')
road_surface_conditions = pd.read_csv(sub_path + '\Road_Surface_Conditions.txt')
carriageway_hazards = pd.read_csv(sub_path + '\Carriageway_Hazards.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Smart\\Desktop\\NoteBooks\\HDSC_Project\\data_understanding_ds\\variables\\Police_Force.csv'

### Acciden_Index
Accident_Index - The index unique for a specific accident, there are 140,056 accident_index

### Police Force 
There are 51 unique values which shows the category of police force

In [2]:
police_force

    code                  label
0      1    Metropolitan Police
1      3                Cumbria
2      4             Lancashire
3      5             Merseyside
4      6     Greater Manchester
5      7               Cheshire
6     10            Northumbria
7     11                 Durham
8     12        North Yorkshire
9     13         West Yorkshire
10    14        South Yorkshire
11    16             Humberside
12    17              Cleveland
13    20          West Midlands
14    21          Staffordshire
15    22            West Mercia
16    23           Warwickshire
17    30             Derbyshire
18    31        Nottinghamshire
19    32           Lincolnshire
20    33         Leicestershire
21    34       Northamptonshire
22    35         Cambridgeshire
23    36                Norfolk
24    37                Suffolk
25    40           Bedfordshire
26    41          Hertfordshire
27    42                  Essex
28    43          Thames Valley
29    44              Hampshire
30    45                 Surrey
31    46                   Kent
32    47                 Sussex
33    48         City of London
34    50     Devon and Cornwall
35    52      Avon and Somerset
36    53        Gloucestershire
37    54              Wiltshire
38    55                 Dorset
39    60            North Wales
40    61                  Gwent
41    62            South Wales
42    63            Dyfed-Powys
43    91               Northern
44    92               Grampian
45    93                Tayside
46    94                   Fife
47    95    Lothian and Borders
48    96                Central
49    97            Strathclyde
50    98  Dumfries and Galloway

### Accident Severity
This shows how severe the accident is

In [3]:
accident_severity

   code    label
0     1    Fatal
1     2  Serious
2     3   Slight

### Number of Vehicles
This shows the number of vehicles involved in the accident

### Number_of_Casualties
Number of persons who got injured or dead in the cause of the accident

### Date
The date when the accident occurred

### Time
Time of the day

### Local Authority_District
The district where the accident happened

In [4]:
local_authority_district

     code              label
0       1        Westminster
1       2             Camden
2       3          Islington
3       4            Hackney
4       5      Tower Hamlets
..    ...                ...
411   937     South Ayrshire
412   938  South Lanarkshire
413   939           Stirling
414   940       West Lothian
415   941      Western Isles

[416 rows x 2 columns]

### Local_Authority_(Highway)
The highway where the accident happened

In [5]:
local_authority_highway

          Code                 Label
0    S12000033         Aberdeen City
1    S12000034         Aberdeenshire
2    S12000041                 Angus
3    S12000035         Argyll & Bute
4    E09000002  Barking and Dagenham
..         ...                   ...
202  E06000041             Wokingham
203  E08000031         Wolverhampton
204  E10000034        Worcestershire
205  W06000006               Wrexham
206  E06000014                  York

[207 rows x 2 columns]

### Road_Class

In [6]:
road_class

   code                                label
0     0  Not at junction or within 20 metres
1     1                             Motorway
2     2                                 A(M)
3     3                                    A
4     4                                    B
5     5                                    C
6     6                         Unclassified

### Road_Type
The type of road at the location where the accident occured

In [7]:
road_type

   code                         label
0     1                    Roundabout
1     2                One way street
2     3              Dual carriageway
3     6            Single carriageway
4     7                     Slip road
5     9                       Unknown
6    12      One way street/Slip road
7    -1  Data missing or out of range

### Road_Number
Road Number given to the road <br>
1- 9999 <br>
0 means not classified

### Speed_Limit
The maximum speed at which a vehicle may legally travel on a particular stretch of road.

### Junction_Detail
The description of the junction

In [8]:
junction_detail

   code                                label
0     0  Not at junction or within 20 metres
1     1                           Roundabout
2     2                      Mini-roundabout
3     3              T or staggered junction
4     5                            Slip road
5     6                           Crossroads
6     7    More than 4 arms (not roundabout)
7     8            Private drive or entrance
8     9                       Other junction
9    -1         Data missing or out of range

### Junction Control
This table is telling wheather a juction is been controlled by some personels or not

In [9]:
junction_control

   code                                label
0     0  Not at junction or within 20 metres
1     1                    Authorised person
2     2                  Auto traffic signal
3     3                            Stop sign
4     4             Give way or uncontrolled
5    -1         Data missing or out of range

### Pedestrian_Crossing-Human_Control
Is there anyone responsible for pedestrian human crossing ?

In [10]:
ped_cross_human

   code                               label
0     0              None within 50 metres
1     1   Control by school crossing patrol
2     2  Control by other authorised person
3    -1        Data missing or out of range

### Pedestrian_Crossing-Physical_Facilities
Is there any facility installed for pedestrian crossing ?

In [11]:
ped_cross_physical

   code                                              label
0     0   No physical crossing facilities within 50 metres
1     1                                              Zebra
2     4  Pelican, puffin, toucan or similar non-junctio...
3     5        Pedestrian phase at traffic signal junction
4     7                               Footbridge or subway
5     8                                     Central refuge
6    -1                       Data missing or out of range

### Light_Condition

In [12]:
light_conditions

   code                         label
0     1                      Daylight
1     4         Darkness - lights lit
2     5       Darkness - lights unlit
3     6        Darkness - no lighting
4     7   Darkness - lighting unknown
5    -1  Data missing or out of range

### Weather Conditions

In [13]:
weather_conditions

   Code                         Label
0     1            Fine no high winds
1     2         Raining no high winds
2     3         Snowing no high winds
3     4             Fine + high winds
4     5          Raining + high winds
5     6          Snowing + high winds
6     7                   Fog or mist
7     8                         Other
8     9                       unknown
9    -1  Data missing or out of range

### Road_Surface_Conditions

In [14]:
road_surface_conditions

   Code                         Label
0     1                           Dry
1     2                   Wet or damp
2     3                          Snow
3     4                  Frost or ice
4     5           Flood over 3cm deep
5     6                 Oil or diesel
6     7                           Mud
7    -1  Data missing or out of range
8     9        unknown(self reported)

### Special_Conditions_at_Site

In [15]:
special_conditions_at_Site

   Code                                       Label
0     0                                        None
1     1                     Auto traffic signal out
2     2                  Auto signal part defective
3     3  Road sign or marking defective or obscured
4     4                                   Roadworks
5     5                      Road surface defective
6     6                               Oil or diesel
7     7                                         Mud
8    -1                Data missing or out of range
9     9                                     Unknown

### Urban_or_Rural_Area

1 - Urban  <br>
2 - Rural

### Did_Police_Officer_Attend_Scene_of_Accident

In [16]:
polic_officer_attend

   code                                              label
0    -1                                       data missing
1     1                                                Yes
2     2                                                 No
3     3  No - accident was reported using a self comple...

### LSOA_of_Accident_Location
Lower Layer Super Output Areas (LSOA) are a geographic hierarchy designed to improve the reporting of small area statistics in England and Wales

### Location_Easting_OSGR 
Information about locationon map

### Location_Northing_OSGR - 
Information about location on the map